.editorNote
{
    margin: 25px auto 25px auto;
    min-width: 300px;
}

.editorNote *
{
    width: 100%;
    margin: 5px 5px 5px 0;
    font-size: 18px;
}

.editorButtons button
{
    width: 40px;
    margin: 0;
    font-size: 12px;
}

.editorButtons b, .editorButtons i
{
    font-size: 12px;
}
